<div id = "everything">
	
</div>
<script type="text/javascript">
	function kek (word) {
		i =0
		r = ''
		while(word[i] != '-' && word[i] != '('){
			r +=word[i]
			i = i+1
		}
		return r
	}


	$.ajax({
        url: 'https://api.spotify.com/v1/albums/4gnEi23PFBwHXT9rMqTsN5/tracks',
        data: {},
        success: function (response) {
        	console.log(response)
        	$.each(response.items,function(v,k) {
        		var lel = k.id
        		console.log(lel)
	        	$("#everything").append("\
	        	<div class='row'>\
	        	<div class='col-md-3'></div>\
	        	<div class='col-md-6'>\
	        	<div id = '"+k.id+"' class='panel panel-default'>\
		  			<div class='panel-heading'>\
					     <h4 class='panel-title'>\
					        <h4 data-toggle='collapse' data-parent=''>\
					           "+kek(k.name)+" - "+k.artists[0].name+"\
					        </h4>\
					     </h4>\
					 </div>\
					 <div class='jumbotron panel-collapse collapse in'>\
					    <div class='panel-body'>\
					    	<iframe src='https://embed.spotify.com/?uri="+k.uri+"' width='100%' height='380' frameborder='0' allowtransparency='true'></iframe><br>\
					    	<div class = 'btn-group btn-group-justified'><a class='btn btn-default' href = ''>View on Youtube</a><a class='btn btn-default' href = ''>Download Mp3</a><a class='btn btn-default'onclick=haha('"+lel.toString()+"')>Add to Playlist</a></div>\
					     </div>\
					  </div>\
					  </div>\
				<div class='col-md-3'></div>\
				</div>\
				</div>\
	        ")})
	        }
    });

	
	function haha (argument) {
		auth = $('input[name=authenticity_token]').val()
		$.post('/songs', {utf8: '✓',authenticity_token: auth,song:{songid:argument}}, function(data) {
			console.log(data)
		},"json");
		
	}
	


</script>	