<%= form_for(@playlists_song) do |f| %>
  <% if @playlists_song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlists_song.errors.count, "error") %> prohibited this playlists_song from being saved:</h2>

      <ul>
      <% @playlists_song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :playlist_id %><br>
    <%= f.text_field :playlist_id %>
  </div>
  <div class="field">
    <%= f.label :song_id %><br>
    <%= f.text_field :song_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
