<p id="notice"><%= notice %></p>

<h1>Listing Playlists Songs</h1>

<table>
  <thead>
    <tr>
      <th>Playlist</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists_songs.each do |playlists_song| %>
      <tr>
        <td><%= playlists_song.playlist %></td>
        <td><%= playlists_song.song %></td>
        <td><%= link_to 'Show', playlists_song %></td>
        <td><%= link_to 'Edit', edit_playlists_song_path(playlists_song) %></td>
        <td><%= link_to 'Destroy', playlists_song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlists song', new_playlists_song_path %>
