<p id="notice"><%= notice %></p>

<p>
  <strong>Playlist:</strong>
  <%= @playlists_song.playlist %>
</p>

<p>
  <strong>Song:</strong>
  <%= @playlists_song.song %>
</p>

<%= link_to 'Edit', edit_playlists_song_path(@playlists_song) %> |
<%= link_to 'Back', playlists_songs_path %>
