

@import "bootstrap-sprockets";
@import "bootstrap"; 

body {
  min-height: 2000px;
  padding-top: 70px;


}

.navbar .navbar-form .form-control {
  border-color: inherit;
  color: #333 !important;
}

#map-canvas {
  height: 768px;
  width: 100%;
}

.more{
	float: right;
}

.panel-default{
	width:100%;
	text-align: center;
}
.navbar.navbar {
  background-color: #333 !important;
}
body {
  background-color: #6B6A6A !important;
}