<div class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Fifty Shades of Music</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">


        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "About Us", static_pages_fsom_path %></li>

        <% if user_signed_in? %>
          <li><%= link_to "My Playlists", playlists_path %></li>
          <li><%= link_to current_user.first_name,  user_path(id: current_user.id) %></li>
          <li><%= link_to "Log Out",destroy_user_session_path, :method => :delete  %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Create Account",new_user_registration_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>



















