<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script><!--Got this-->

    <title>Fifty Shades of Music</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body height = '100%'>

    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </body>
</html>

